$color-green: green;
$color-white: white;

.hello-world-button {
    width: 200px;
    padding: 8px 12px;
    color: white;
    outline: none;
    background-color: green;
    border-radius: 8px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.hello-world-text {
    max-width: 400px;
    margin: auto;
    margin-top: 16px;
    color: $color-green;
    text-align: center;
}
